body {
  background-color: rgb(242, 238, 215);  
}

main{
    font-size: 35px;
}

footer{

    font-size: 25px;
}

.imagen-yo{
    width: 25px;
    height: 25px;
}

.ig-icon{
    width: 100px;
    height: 50px;
}